
{% extends 'base.html' %}


{% block content %}

<head>
<meta charset="UTF-8">
<title>Таблица Заказов</title>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
</head>
<body>

<h2>Объекты скалада</h2>
<table>
  <tr>
    <th>Название</th>
    <th>Дата Поставки</th>
    <th>Количество</th>
    <th>Цена</th>
  </tr>
{% for item in items %}
  <tr>
    <td>
        {{ item.name }}
    </td>
    <td>
        {{ item.delivery_date }}
    </td>
    <td>
        {{ item.quantity }}
    </td>
    <td>
        {{ item.price }}
    </td>
  </tr>
{% endfor %}
</table>
</body>
    

    
{% endblock %}